.Slider-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 30px;
}

.Slider-container-text {
  display: flex;
  justify-content: space-around;
}

.title {
  text-align: center;
}
